<?xml version="1.0"?>
<config>
    <modules>
        <Occitech_Seo>
            <version>0.1.0</version>
        </Occitech_Seo>
    </modules>
    <global>
        <blocks>
            <occitech_seo>
                <class>Occitech_Seo_Block</class>
            </occitech_seo>
            <page>
                <rewrite>
                    <html_breadcrumbs>Occitech_Seo_Block_Page_Html_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <occitech_seo>
                <class>Occitech_Seo_Helper</class>
            </occitech_seo>
        </helpers>
        <models>
            <occitech_seo>
                <class>Occitech_Seo_Model</class>
            </occitech_seo>
        </models>
        <events>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <occitech_seo>
                        <class>Occitech_Seo_Model_Observer</class>
                        <method>setCorrectCategoryCanonical</method>
                    </occitech_seo>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <occitech_seo>
                    <file>occitech_seo.xml</file>
                </occitech_seo>
            </updates>
        </layout>
    </frontend>
</config>
